@tailwind base;
@tailwind theme;
@tailwind components;
@tailwind utilities;


/* .fi-layout{
    width: calc(100% - calc(3rem + 1px));
}
.fi-layout-first-level{
    width: calc(100% - calc(21rem + 2px));
}

@media (min-width: 1024px){
    .fi-layout-first-level{
        display: none;
    }
} */

.fi-modal-heading{
    width: 100%;
}
.fi-modal-content{
    --tw-bg-opacity: 1;
    background-color: rgba(var(--gray-50), var(--tw-bg-opacity, 1));
}
